/* make contact input field for numbers only */
/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-grid-tile {
  background: rgb(221, 246, 255);
}

mat-grid-list {
  height: 10vh;
}

.container {
  background: #f2f4ff;
  width: 70%;
  margin: 20px auto;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
}

mat-form-field,
.move {
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 5px;
}

button {
  width: 80px;
  margin-bottom: 20px;
}
